<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="stylesheets/style.css" />
  <title>Sports Stuff</title>
 </head>
 <body>
  <header><h1>Roger's Sports Shop</h1></header>
  <div class="products">
   <div><img src="https://m.media-amazon.com/images/I/91VqLMN1g3L._AC_SX679_.jpg" /></div>
   <div class="text">
    <b>Baseball Glove</b><br />Rawlings - like Kelly Gruber used to have.<br /><b>$129.99</b>
   </div>
   <div><a href="/product/1">Go to Product</a></div>

   <div><img src="https://m.media-amazon.com/images/I/61rs75rYRIL._AC_SX679_.jpg" /></div>
   <div class="text"><b>Baseball Bat</b><br />Farsler - heard of it? <br /><b>$19.99</b></div>
   <div><a href="/product/2">Go to Product</a></div>

   <div><img src="https://m.media-amazon.com/images/I/71+rQfIzRDL._AC_SX679_.jpg" /></div>
   <div class="text"><b>Baseball Ball</b><br />Blue Jays - Like vladdy.<br /><b>$29.99</b></div>
   <div><a href="/product/3">Go to Product</a></div>

   <div>
    <img src="https://m.media-amazon.com/images/I/91-fKcXjRvL._AC_UL640_FMwebp_QL65_.jpg" />
   </div>
   <div class="text">
    <b>Baseball Bat Bag</b><br />Athletico - It is a real brand. <br /><b>$89.99</b>
   </div>
   <div><a href="/product/4">Go to Product</a></div>

   <div>
    <img src="https://m.media-amazon.com/images/I/61qk9JHHOGL._AC_UL640_FMwebp_QL65_.jpg" />
   </div>
   <div class="text"><b>Superman Cape</b><br />For after the home run<br /><b>$ Priceless</b></div>
   <div><a href="/product/5">Go to Product</a></div>
  </div>
 </body>
</html>
