<!DOCTYPE html>
<html lang="en">
 <%- include('partials/head'); %> <%- include('partials/header'); %>

 <div class="w3-padding-large" id="main">
  <%- include('partials/h1'); %>
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="content">
   <h2 class="w3-text-light-grey">Let's Fly!</h2>
  </div>

  <%- include('partials/footer'); %>
 </div>
</html>
