<!DOCTYPE html>
<html>
 <head>
  <title><%= album.title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
 </head>
 <body>
  <h1><%= album.name %></h1>
  <p><%= album.artist %></p>
  <a href="/albums">Go Back </a>
 </body>
</html>
