<!DOCTYPE html>
<html>
 <head>
  <title>Testing out EJS</title>
 </head>
 <body>
  The value of x is: <%= x %><br />
  My favourite fruit is: <%= favFruit %><br />
  My name is: <%= name %>
 </body>
</html>
