<!DOCTYPE html>
<html lang="en">
 <head>
  <%- include('../partials/head'); %>
 </head>
 <body class="container">
  <header><%- include('../partials/header'); %></header>

  <!-- Page content -->
  <div class="w3-content" style="max-width: 2000px; margin-top: 46px">
   <%- include('../partials/slideshow'); %>

   <div
    class="w3-container w3-content w3-center w3-padding-64"
    style="max-width: 800px"
    id="skills"
   >
    <h1 class="w3-wide">FATHER SKILLS</h1>
    <h2>New Skills</h2>
    <form action="/skills" method="POST" autocomplete="off">
     <label for="name">Skill:</label>
     <input type="text" name="name" />
     <br /><br />
     <label for="vol">Level (1 to 10):</label>
     <input type="range" id="vol" name="level" min="1" max="10" list="levelList" />
     <datalist id="levelList">
      <option value="1" label="1"></option>
      <option value="2"></option>
      <option value="3"></option>
      <option value="4"></option>
      <option value="5" label="5"></option>
      <option value="6"></option>
      <option value="7"></option>
      <option value="8"></option>
      <option value="9"></option>
      <option value="10" label="10"></option>
     </datalist>
     <br /><br />
     <button type="submit">Save Skill</button>
    </form>
    <a href="/skills"> Go Back </a>
   </div>
  </div>

  <footer><%- include('../partials/footer'); %></footer>
 </body>
</html>
